nav > ul{
    display: flex;
}
nav li {
    list-style: none;
    padding: 5px;
    margin-right: 10px;
}
nav li:hover {
    background-color: lightgray;
}
nav li a{
    text-decoration: none;
    color: black;
}
/* Nested Menu Style */
nav li:hover > .dropdown {
    display: block;
    padding-left: 10px;
    background-color: lightyellow;
}
nav li .dropdown{
    display: none;
    position: absolute;

}